
    
        body {
            background-image: url("back.jfif");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
          }

    
        

          
    h1{
        color:blue
    }

    h3,h4{
        color: brown;
    }
          
    
    
    
    
