
    
        body {
            background-image: url("back.jpg.crdownload");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
          }
    
          h4 {color: rgb(255, 249, 249);

          }

          h3 {color-scheme: rgb(250, 250, 252); color: rgb(248, 249, 250); 


          }

        fieldset{
            color: rgb(255, 255, 255);
        }

        textarea {
            color: burlywood;
        }

        h1 {
            color: blue;
        }

          
    
          
    
    
    
    
